:root {
	-webkit-print-color-adjust: exact !important;
	print-color-adjust: exact !important;
}

@page {
	size: A4;
	margin: 0mm;
}

@media print {
    :root{
        --pad-right: 5mm;
        --pad-left: 10mm;

        --hei-header: 160pt;
        --grid-columns-main: 15mm auto 45mm;

        --border-size-high: 1pt;
		--border-col-high: var(--col-high-3);

        --font-size-header: 33pt;
        --font-size-social-item:  8.5pt;
        --font-size-header-p: 12.5pt;
        --font-size-box-date: 6pt;
        --font-size-box-title: 8pt;
        --font-size-box-svg: 10pt;
        --font-size-aside-article: 7pt;
        font-size: 8pt;
        letter-spacing: 1pt;
    }
	html,
	body {
		width: 210mm;
		height: 297mm;
		padding: 0;
		display: initial;
	}
    main{
        width: 100vw;
        height: 100svh;
        padding: 0 var(--pad-right) 0 0;
        margin: 0;
        display: grid;
        grid-template-columns: var(--grid-columns-main);
        grid-template-rows: max-content auto;
    }
    main > header{
        padding-top: 0;
    }
    main > aside{
        padding-left: calc( var(--pad-left) * .6);
    }
    nav{
        display: none;
    }
    .page-break{
        display: block;
        page-break-before: always;
    }

    header~aside > :first-child{
		padding-top: 2em;
	}
}